# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
ENV/
venv/

# IDEs
.vscode
.idea
*.swp
*.swo

# Documentation
README.md

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore
